
/*simple-element UI动画库*/
/*Simple-element animation library*/
/*version: v1.0.0*/
/*author: 2499857343@qq.com*/
/*update: 2023-04-03*/

@keyframes upSlide {
  from {
    opacity: 0;
    transform: translate(0, var(--default-unit));
  } to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes downSlide {
  from {
    opacity: 0;
    transform: translate(0, calc(var(--default-unit) * -1));
  } to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes leftSlide {
  from {
    opacity: 0;
    transform: translate(var(--default-unit), 0);
  } to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes rightSlide {
  from {
    opacity: 0;
    transform: translate(calc(var(--default-unit) * -1), 0);
  } to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes rotateLeft {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(-360deg);
  }
}

@keyframes rotateRight {
  from {
    transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
    }
}

@keyframes opacity {
  0% {
    opacity: 0;
  } 50% {
    opacity: 1;
  } 100% {
    opacity: 0;
  }
}